[[language]]
name = "julia"
auto-format = true
# Use the built-in JuliaFormatter via the LSP
language-servers = [ "julia-lsp" ]

[language-server.julia-lsp]
command = "julia"
timeout = 60
args = [
    "--startup-file=no",
    "--history-file=no",
    "--quiet",
    "-e",
    """
    using LanguageServer;
    using SymbolServer;
    depot_path = get(ENV, "JULIA_DEPOT_PATH", "");
    project_path = dirname(something(Base.current_project(pwd()), Base.load_path_expand("@v#.#")));
    server = LanguageServer.LanguageServerInstance(stdin, stdout, project_path, depot_path);
    server.runlinter = true;
    run(server);
    """
]
