[[language]]
name = "julia"
language-servers = [ "julia-lsp" ]
roots = ["Project.toml", "Manifest.toml", ".git"]

[language-server.julia-lsp]
### IF NORMAL PKG LSP IS WORKING
# mkdir -p ~/.julia/environments/helix-lsp
# julia --project=~/.julia/environments/helix-lsp -e 'using Pkg; Pkg.add(["LanguageServer", "SymbolServer", "JuliaFormatter"])'

### IF YOU NEED TO PULL FROM GITHUB
# mkdir -p ~/.julia/environments/helix-lsp
# julia --project=@helix-lsp -e 'using Pkg; Pkg.add(url="https://github.com/julia-vscode/LanguageServer.jl"); Pkg.add(url="https://github.com/julia-vscode/SymbolServer.jl"); Pkg.add("JuliaFormatter"); Pkg.precompile()'

command = "julia"
args = [
    "--startup-file=no",
    "--history-file=no",
    "--project=@helix-lsp", 
    "--sysimage", "/home/gaybe/.julia/environments/helix-lsp/JuliaLSP.so", # WHEN DOING SYSIMAGE ONLY
    "-e", "using LanguageServer; runserver()"
    # one liner for testing
    # julia --startup-file=no --history-file=no --project=@helix-lsp -e 'using LanguageServer; runserver()'
]
