[[language]]
name = "julia"
# Use the built-in JuliaFormatter via the LSP # ?????
language-servers = [ "julia-lsp" ]
roots = ["Project.toml", "Manifest.toml", ".git"]

[language-server.julia-lsp]
command = "julia"
args = [
    "--startup-file=no",
    "--history-file=no",
    "--project=@helix-lsp", 
    "-e", 
    "using LanguageServer; runserver()"
]
